In [1]:
import pandas as pd

In [2]:
train = pd.read_csv("train.csv")

In [3]:
train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [6]:
train.shape

(891, 12)

In [7]:
X = train

In [42]:
X.shape

(891, 9)

In [23]:
X = X.drop(columns = ['Sex'])

In [14]:
y = train['Survived']

In [26]:
from sklearn.linear_model import LinearRegression

model

In [27]:
model = LinearRegression()

In [30]:
X = X.apply(pd.to_numeric, errors='coerce')
X.fillna(0, inplace=True)

In [31]:
X.head()

   PassengerId  Pclass   Age  SibSp  Parch    Ticket     Fare  Cabin  Embarked
0            1       3  22.0      1      0       0.0   7.2500    0.0       0.0
1            2       1  38.0      1      0       0.0  71.2833    0.0       0.0
2            3       3  26.0      0      0       0.0   7.9250    0.0       0.0
3            4       1  35.0      1      0  113803.0  53.1000    0.0       0.0
4            5       3  35.0      0      0  373450.0   8.0500    0.0       0.0

In [32]:
model.fit(X,y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [36]:
test = pd.read_csv("test.csv")

In [38]:
ans = test

In [48]:
ans=ans.drop(columns = ['Name'])

In [44]:
ans.shape

(418, 11)

In [45]:
list(X.columns)

['PassengerId',
 'Pclass',
 'Age',
 'SibSp',
 'Parch',
 'Ticket',
 'Fare',
 'Cabin',
 'Embarked']

In [49]:
list(ans.columns)

['PassengerId',
 'Pclass',
 'Age',
 'SibSp',
 'Parch',
 'Ticket',
 'Fare',
 'Cabin',
 'Embarked']

In [51]:
ans = ans.apply(pd.to_numeric, errors='coerce')
ans.fillna(0, inplace=True)

In [52]:
predict = model.predict(ans)

In [56]:
predict

array([0.17081679, 0.08602999, 0.26677572, 0.19901273, 0.20850459,
       0.25068862, 0.18690606, 0.43607894, 0.23439348, 0.16125073,
       0.29647652, 0.53515571, 0.62680839, 0.24068238, 0.52206309,
       0.38493289, 0.36728688, 0.22311257, 0.1637679 , 0.1352753 ,
       0.49115807, 0.3237691 , 0.70764027, 0.71515239, 0.86234658,
       0.08476915, 0.71050004, 0.21728702, 0.555158  , 0.23532563,
       0.28793914, 0.34949406, 0.27199512, 0.39498379, 0.58060446,
       0.23164692, 0.29579749, 0.21980019, 0.20544617, 0.3392775 ,
       0.2174996 , 0.70143154, 0.14966324, 0.38514065, 0.52119799,
       0.20813514, 0.54064298, 0.29484272, 0.52349627, 0.29461203,
       0.60382861, 0.40038264, 0.41631088, 0.79865122, 0.49946538,
       0.1835392 , 0.16691604, 0.20326599, 0.2630974 , 0.76248802,
       0.23260698, 0.37762208, 0.22878936, 0.21425502, 0.89083812,
       0.50350346, 0.22895485, 0.54156641, 0.59011681, 0.87737306,
       0.20614224, 0.21760514, 0.15483935, 0.59845573, 0.72284663,
       0.73195527, 0.2942359 , 0.42367817, 0.38381108, 0.20600615,
       0.30455917, 0.57735997, 0.52153718, 0.29399501, 0.49155674,
       0.26551267, 0.19536303, 0.23240865, 0.29351629, 0.51885106,
       0.18024424, 0.2936703 , 0.70543499, 0.29344801, 0.60897181,
       0.20206977, 0.42736508, 0.19173944, 0.22033178, 0.17714499,
       0.52895847, 0.36685771, 0.29303582, 0.19815994, 0.26169674,
       0.20700746, 0.21657708, 0.29264765, 0.29801948, 0.4248136 ,
       0.34429491, 0.29317078, 0.57292396, 0.22505619, 0.5908665 ,
       0.19866579, 0.29590482, 0.32280296, 0.60801655, 0.3617121 ,
       0.45347642, 0.25439489, 0.55932807, 0.18919068, 0.29224485,
       0.29698042, 0.21198709, 0.22883549, 0.33867987, 0.20487046,
       0.17974835, 0.50613576, 0.55153031, 0.25735685, 0.13500844,
       0.20441017, 0.1989544 , 0.3964349 , 0.21238989, 0.50488384,
       0.22197873, 0.67908689, 0.81079407, 0.39954987, 0.54550661,
       0.07287249, 0.71963671, 0.21574103, 0.69779444, 0.41415915,
       0.72110425, 0.29168348, 0.06817767, 0.28378682, 0.23165229,
       0.20774806, 0.75174954, 0.20735523, 0.54389856, 0.3257141 ,
       0.29141357, 0.29814926, 0.39633067, 0.29061935, 0.34079852,
       0.23024301, 0.54251864, 0.29552313, 0.69923634, 0.21564405,
       0.29500745, 0.19593604, 0.1738    , 0.29461184, 0.4266691 ,
       0.57954638, 0.43940839, 0.48611365, 0.56038197, 0.63049744,
       0.3805299 , 0.63102419, 0.61445015, 0.29463177, 0.80126686,
       0.34616319, 0.48276736, 0.15672495, 0.16143988, 0.34615192,
       0.33825196, 0.69591721, 0.28006408, 0.26616567, 0.59922822,
       0.16949313, 0.88360894, 0.22422133, 0.40632466, 0.29368464,
       0.30001311, 0.41444696, 0.65106469, 0.49550896, 0.39880662,
       0.69658422, 0.1658374 , 0.40202046, 0.57741033, 0.19828582,
       0.18881029, 0.2932069 , 0.47906661, 0.2448555 , 0.11896828,
       0.55491174, 0.28968374, 0.62271222, 0.6853002 , 0.29335569,
       0.34473996, 0.21271157, 0.40916595, 0.212347  , 0.50350163,
       0.41971878, 0.20493091, 0.28872457, 0.15107035, 0.35680662,
       0.47981963, 0.61817512, 0.13952363, 0.28910533, 0.55206879,
       0.21563928, 0.46245415, 0.21929195, 0.444438  , 0.54758709,
       0.49449962, 0.4577341 , 0.64127471, 0.29275862, 0.38781187,
       0.52836169, 0.4168961 , 0.37494132, 0.35700229, 0.25993828,
       0.58172332, 0.21941842, 0.64848407, 0.20577325, 0.17067632,
       0.29211828, 0.29224707, 0.18563383, 0.42060246, 0.21116183,
       0.12430556, 0.21109856, 0.51237604, 0.30989904, 0.38030304,
       0.28780884, 0.67219582, 0.2917104 , 0.29208336, 0.22654258,
       0.56627953, 0.28725085, 0.65146132, 0.25549781, 0.29117538,
       0.38644007, 0.38538817, 0.31607847, 0.34858113, 0.40722851,
       0.2042265 , 0.31576219, 0.28692216, 0.28668836, 0.31182305,
       0.15920055, 0.29082042, 0.61380404, 0.29070319, 0.29136957,
       0.70497428, 0.17603703, 0.29056727, 0.56723695, 0.15651709,
       0.1917062 , 0.59112276, 0.22621627, 0.59840759, 0.18058634,
       0.16952146, 0.4877419 , 0.39836937, 0.19978759, 0.28595207,
       0.48062144, 0.7668284 , 0.34418262, 0.5691424 , 0.08882179,
       0.22149198, 0.20946283, 0.29020119, 0.15051489, 0.58118188,
       0.22805818, 0.54469023, 0.41656717, 0.18721883, 0.347019  ,
       0.19078401, 0.19815524, 0.39019895, 0.57116346, 0.70067613,
       0.20521984, 0.44682933, 0.56772259, 0.35458378, 0.40833774,
       0.45212606, 0.55289809, 0.28920386, 0.24882191, 0.1867232 ,
       0.58131952, 0.36778088, 0.26676201, 0.41134377, 0.2889701 ,
       0.41978332, 0.16792804, 0.84322507, 0.93599142, 0.31695367,
       0.22639026, 0.38946472, 0.14972941, 0.39698321, 0.38048165,
       0.61787915, 0.39381006, 0.47065094, 0.43002076, 0.3811113 ,
       0.50746734, 0.42054833, 0.28890435, 0.28429579, 0.14315286,
       0.10256632, 0.44090283, 0.38003978, 0.18677713, 0.58581215,
       0.8424433 , 0.25596442, 0.19626304, 0.61267779, 0.38130334,
       0.37029304, 0.66588478, 0.48939724, 0.32258523, 0.5608267 ,
       0.71883367, 0.12867794, 0.40801412, 0.50930156, 0.25326092,
       0.28356856, 0.18899219, 0.28902135, 0.18268785, 0.48604769,
       0.52035937, 0.19582025, 0.27462126, 0.20652113, 0.21863225,
       0.66117694, 0.57504366, 0.37060605, 0.31192734, 0.13554637,
       0.61404431, 0.19479502, 0.58006796, 0.20276111, 0.17374463,
       0.69302849, 0.31479502, 0.69563431, 0.64369156, 0.49599063,
       0.41299658, 0.36093491, 0.67887606, 0.28298013, 0.30318308,
       0.28256682, 0.56835753, 0.18034268, 0.28715479, 0.61453754,
       0.1456392 , 0.28267921, 0.32083576])

In [130]:
for x in predict
if predict[x] > 0.5:
    x = 1

SyntaxError: invalid syntax (<ipython-input-130-c966c9d2794b>, line 1)

In [137]:
a = pd.DataFrame({'PassengerId' : a.index + 892, 'Survived' : predict})

In [139]:
a.Survived = round(a.Survived)

In [140]:
#a.Survived[a.Survived > 0.5] = 1

In [141]:
#a[a.Survived < 0.5] = 0

In [142]:
a.Survived = a.Survived.astype('int32')

In [143]:
a

     PassengerId  Survived
0            892         0
1            893         0
2            894         0
3            895         0
4            896         0
5            897         0
6            898         0
7            899         0
8            900         0
9            901         0
10           902         0
11           903         1
12           904         1
13           905         0
14           906         1
15           907         0
16           908         0
17           909         0
18           910         0
19           911         0
20           912         0
21           913         0
22           914         1
23           915         1
24           916         1
25           917         0
26           918         1
27           919         0
28           920         1
29           921         0
..           ...       ...
388         1280         0
389         1281         0
390         1282         1
391         1283         1
392         1284         0
393         1285         0
394         1286         0
395         1287         1
396         1288         0
397         1289         1
398         1290         0
399         1291         0
400         1292         1
401         1293         0
402         1294         1
403         1295         1
404         1296         0
405         1297         0
406         1298         0
407         1299         1
408         1300         0
409         1301         0
410         1302         0
411         1303         1
412         1304         0
413         1305         0
414         1306         1
415         1307         0
416         1308         0
417         1309         0

[418 rows x 2 columns]

In [136]:
a.to_csv('1.csv')